{% extends 'base.html.twig' %}
{% block body %}
    {% if user %}
        <h5>Contratullations!!!</h5>
        <p>You acount is confirmed you can now sign in
            <a href="{{path('security_login')}}">here</a></p>
    {% else %}
        Something went to wrong. Please check you email.
    {% endif %}
{% endblock %}

    