{% extends 'base.html.twig' %}
{% block body %}
    {% if notifications|length %}
        <div class="card-body">
            <h5>Unread notification</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a class="btn btn-block btn-defualt btn-link btn-outline-info" 
                href="{{path('notification_acknowledge_all')}}">
                    Mark all as read
                </a>
            {% for notification in notifications %}
                <li class="list-group-item">
                    <a class="btn btn-sm btn-primary float-right"  
                        href="{{path('notification_acknowledge',{'id':notification.id})}}">
                    mark as read
                    </a>
                    {% if notification is like %}
                        <a href="{{ path('micro_post_user',{'username': notification.likedBy.username})}}">
                            {{ notification.likedBy.username }}
                        </a> likes you
                        <a href="{{ path('micro_post_post',{'id': notification.microPost.id})}}">
                            post
                        </a> 
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="card-body">
            You have not notification
        </div>
    {% endif %}
{% endblock %}