{% extends 'base.html.twig' %}

{% block title %} Blog index {% endblock %}

{% block body %} 
   {% for id, post in posts %}
        <p><a href="{{path('blog_show',{'id':id})}}">Id{{id}}</a></p>
        <h3>{{post.title}}</h3>
        <p>{{post.text}}</p>
    {% endfor %}
{% endblock %}