<h3>Welcome to the my app!!!</h3>
Hello {{user.fullName}} ! you have registered into the app <br>

please confirm acoount by clicking thei <a href="{{url('security_confirm',{'token':user.confirmationToken})}}">link</a>
to login, go to <a href="{{url('security_login')}}"> login page</a>.
Thanks.
